.mt-100 {
    margin-top: 100px;
}

.center {
    text-align: center;
    justify-content: center;
}

.ng-select {
    border: 1px solid #dc3545;
    border-radius: 5px;
}

.message {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545
}